.carditem{
  display: flex;    
  height: 50px;
  width: 250px;
}
.cardbuttons{
  display: flex;
}
.cardbuttons button{
  background: orange;
  color: white;
  padding: 10px 10px; 
  margin: 10px;
}
.cardbuttons button:hover{
  background: darkorange; 
}
@media (max-width:600px){
.carditem{
  display: flex;    
  flex-direction: column;
}}
