*{
  margin: 0 auto;
  padding: 0;
  
 
  
}
.products{
  position:absolute;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  justify-content: center;
  margin-top: 50px;
  
}
.product-container{
  display: flex;
  flex-direction: column;
}
.home{
  position:absolute;
  display:flex;
}
.empytycard{
  margin-top: 50px;
  padding: 0.5rem;
  color: rgba(0,0, 0, 0.5);
  align-items: center;
}

.header{

  min-height: 3vh;
  overflow: hidden;
  display: flex;
  background: rgb(60, 28, 221); 
}   

.header input{
  padding: 0.2rem 1.2rem;
  outline: none;
  border: none;
}

.header button{
  padding: 0.2rem 1rem;
  background: none;
  margin-left: 10px;

  outline: none;
  cursor: pointer;
  border: 1px solid rgb(241, 232, 232);
  transition: 0.2s ease;

}
.container{
  display: flex;
  gap: 30px;
  align-items: center;
  position: relative;
  width: 100%;

}
.brand{
  display: flex;
  align-items: center;
  text-decoration: none; font-size: 1.2rem;
  font-weight: bold;
  color: white;
}


.cart{
color: aliceblue;
font-size: 20px;
font-weight: bold;
cursor: pointer;

}

.quantity{
color:rgb(255, 255, 255);
font-size: 1.2rem
}

.header button:hover{
  background: rgb(157, 135, 135);
  color: white;
  font-weight: bolder;

}

.search
  {
      padding: 5px;
  }
.categories{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 150px;
  gap: 30px;
  font-size: 10px;
}

.model{
position: relative;
  display: flex;
  align-items: center;
  height: 150px;
  width: 180px;  
  overflow: hidden;
  border: 1px solid rgb(230, 225, 225);

}
.brand-filter{
  position:relative;
  display: flex;
  align-items: center;
  height: 150px;
  width: 180px;  
  overflow: hidden;
  border: 1px solid rgb(230, 225, 225);


}
.sort{
  position:relative;
  display: flex;
  align-items: center;
  height: 150px;
  width: 180px;  
  overflow: hidden;
  border: 1px solid rgb(230, 225, 225);

}
form {
	  display: flex;
  justify-content: center;
}
input {
	outline: none;
  cursor: pointer;
}

@media (max-width:700px){
  .search
  {
      display: none;
  }

  .categories{
display: none;
  }
  .products{
    position:absolute;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(1, 200px);
    justify-content: center;
   
   
  }

}
